<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Search</title>
</head>
<body>
    


    <form action="/doSearch" method ="post" style="color: purple;">
    
  <div class="form-group">
      
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="txtName" placeholder="Enter name" id="">
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="text" class="form-control" placeholder="Enter price" id="">
  </div>
  <div class="form-group">
    <label for="color">Color:</label>
    <input type="text" class="form-control" placeholder="Enter color" id="">
  </div>
  
  <button type="submit" class="btn btn-primary">Searching </button>
 
</form>
{{> footer}}
</body>
</html>

